body {
	background-color: black;
	font-family: 'Comic Sans MS';
	font-size: 50px;
}

.container {
	margin-top: 110px;
	padding-left: 100px;
	height: 500px;
	min-width: 1200px;
	background-color: white;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool { 
	width: 659px; 
	height: 494px; 
} 
.ryu-ready, .ryu-throwing, .ryu-cool, .jquery, .streetfighter, .instructions, .credits {
 	display: none; 
}
 .ryu-ready {
 	 background-image: url('../images/ryu-ready-position.gif'); 
} 
 .ryu-still {
 	 background-image: url('../images/ryu-standing-still.png'); 
}
.ryu-throwing {
 	background-image: url('../images/ryu-throwing-hadouken.png'); 
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
 .hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .jquery, .streetfighter { 
 	background-repeat: no-repeat; 
}

.jquery, .streetfighter {
	margin: 50 auto;
}

.jquery {
	background-image: url('../images/jquery-logo.jpg');
	width: 500px;
	height: 172px;
	background-size: contain;
}

.streetfighter {
	width: 682px;
	height: 314px;
	margin: 0 25px 25px 0;
	background-image: url('../images/sf-logo.png');
	background-size: contain;
}

.text {
	left: 650px;
	bottom: 20px;
	height: 425px;
	position: fixed;
	width:600px;
}

.credits {
	color: red;
}

.instructions #top {
	float: left;
	display: block;
}

.instructions #bottom {
	float: right;
}

.hadouken { 
	background-image: url('../images/hadouken.gif'); 
	width: 156px; 
	height: 90px; 
	float: left; 
	display: none; 
	position: relative; 
	bottom: 320px; 
	left: 450px; 
}
