body {
	background-color: black;
	font-family: 'comical';
	font-size: 45px;
}

@font-face {
	font-family: 'comical';
	src:url('../fonts/animeace2_reg.otf');
}

.container {
	margin-top: 110px;
	padding-left: 100px;
	height: 500px;
	min-width: 1200px;
	background-color: white;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool { 
	width: 659px; 
	height: 494px; 
} 
.ryu-ready, .ryu-throwing, .ryu-cool, .jquery, .streetfighter, .instructions, .credits {
 	display: none; 
}
 .ryu-ready {
 	 background-image: url('../images/ryu-ready-position.gif'); 
} 
 .ryu-still {
 	 background-image: url('../images/ryu-standing-still.png'); 
}
.ryu-throwing {
 	background-image: url('../images/ryu-throwing-hadouken.png'); 
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
 .hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .jquery, .streetfighter { 
 	background-repeat: no-repeat; 
}

.jquery, .streetfighter {
	background-size: contain;
}

.jquery, .credits {
	margin-top: 100px;
}

.jquery {
	background-image: url('../images/jquery-logo.jpg');
	width: 600px;
	height: 200px;
}

.streetfighter {
	margin-top: 45px;
	width: 660px;
	height: 314px;
	background-image: url('../images/sf-logo.jpg');
}

.text {
	left: 650px;
	bottom: 30px;
	height: 500px;
	position: fixed;
	width:600px;
}

.credits {
	color: red;
	margin-top: 150px;
}

.instructions {
	font-size: 18pt;
	line-height: 50px;
}

.instructions #top {
	display: block;
	max-width: 300px;
}

.instructions #bottom {
	max-width: 300px;
	margin-left: 300px;
}

.hadouken { 
	background-image: url('../images/hadouken.gif'); 
	width: 156px; 
	height: 90px; 
	float: left; 
	display: none; 
	position: relative; 
	bottom: 320px; 
	left: 450px; 
}
